/*!
 * Custom CSS
 * Alvin
 * Date: 2019-08-30
 */
/* line 23, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
* {
  font-family: Helvetica, 'PingFang SC', sans-serif, Arial, 'Hiragino Sans GB', 'Helvetica Neue'; }

/* line 28, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
html,
body {
  margin: 0;
  padding: 0; }

/* line 36, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
body {
  color: #101010;
  font-size: 16px; }

/* global start */
/* line 43, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-6 {
  margin-top: 6px; }

/* line 47, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-8 {
  margin-top: 8px; }

/* line 51, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-10 {
  margin-top: 10px; }

/* line 55, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-12 {
  margin-top: 12px; }

/* line 59, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-15 {
  margin-top: 15px; }

/* line 63, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-18 {
  margin-top: 18px; }

/* line 67, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mtb-18 {
  margin: 18px 0 !important; }

/* line 71, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-20 {
  margin-top: 20px; }

/* line 75, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-30 {
  margin-top: 30px; }

/* line 79, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mt-50 {
  margin-top: 50px; }

/* line 83, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mb-20 {
  margin-bottom: 20px; }

/* line 87, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mb-10 {
  margin-bottom: 10px; }

/* line 91, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mb-15 {
  margin-bottom: 15px; }

/* line 95, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mb-18 {
  margin-bottom: 18px; }

/* line 99, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.mb-12 {
  margin-bottom: 12px; }

/* line 103, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.ml-20 {
  margin-left: 20px; }

/* line 107, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.padding-lr-20 {
  padding: 0 25px; }

/* line 111, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.margin-b-30 {
  margin-bottom: 30px; }

/* line 115, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.bg-white {
  background: #fff !important; }

/* line 122, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-button.el-button--default {
  border: none;
  color: #101010; }
  /* line 126, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-button.el-button--default:active, .el-button.el-button--default:hover {
    background: #fff;
    color: #101010; }
  /* line 132, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-button.el-button--default.black {
    background: #444444;
    color: #fff; }
    /* line 136, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-button.el-button--default.black:hover {
      background: #444444;
      color: #fff; }
  /* line 142, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-button.el-button--default.close {
    width: 1.8rem;
    margin: 0.3rem auto 0.2rem;
    display: block; }

/* line 150, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-container.is-vertical {
  height: 100%; }

/* line 154, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-header,
.el-main,
.el-footer {
  padding: 0;
  height: auto !important; }

/* line 161, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-main {
  overflow: inherit; }

/* line 165, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 171, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
h2 {
  margin: 0;
  padding: 0; }

/* line 176, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-table {
  border: 1px solid #cccccc; }
  /* line 179, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-table th,
  .el-table td {
    padding-left: 0.3rem; }
  /* line 184, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-table th {
    background: #cccccc;
    color: #101010; }
  /* line 189, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-table td {
    border-bottom-color: #cccccc; }
  /* line 193, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-table.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #eee; }
  /* line 197, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-table.el-table--enable-row-hover .el-table__body tr:hover > td {
    background: #f2f2f2; }

/* line 203, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-dialog .el-dialog__header {
  display: none; }

/* line 207, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-dialog .el-dialog__body {
  padding: 0;
  color: #101010; }
  /* line 211, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-dialog .el-dialog__body .dialog-content {
    padding: 0.3rem 0.2rem; }
    /* line 214, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-dialog .el-dialog__body .dialog-content .ad {
      width: 100%; }

/* line 220, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-dialog .header {
  position: relative;
  background: #ffdf08;
  padding: 0.15rem; }
  /* line 225, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-dialog .header .title {
    text-align: center;
    color: #101010;
    font-weight: bold;
    font-size: 0.18rem;
    line-height: 1.2; }
    /* line 232, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-dialog .header .title img {
      width: 0.26rem;
      vertical-align: middle;
      margin-right: 0.05rem; }
  /* line 239, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-dialog .header .close {
    width: 0.18rem;
    position: absolute;
    right: 0.2rem;
    top: 0.16rem;
    cursor: pointer; }

/* line 252, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-form .el-form-item {
  margin-bottom: 0.25rem; }
  /* line 257, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-form .el-form-item .el-input .el-input__inner:focus {
    border-color: #009cff; }
  /* line 263, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-form .el-form-item .el-form-item__label {
    color: #101010;
    padding: 0; }
  /* line 268, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-form .el-form-item .el-input-group__append {
    background: none;
    padding: 0; }
    /* line 272, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-form .el-form-item .el-input-group__append .el-button {
      background: 0;
      margin: 0;
      width: 0.8rem;
      padding: 0;
      color: #101010; }

/* line 285, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-pagination.is-background {
  text-align: center;
  margin: 0.3rem auto 0.1rem; }
  /* line 289, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-pagination.is-background .el-pager li {
    border: 1px solid #999;
    color: #999; }
    /* line 294, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-pagination.is-background .el-pager li:not(.disabled).active {
      background: none;
      border: 1px solid #101010;
      color: #101010; }
    /* line 300, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-pagination.is-background .el-pager li:not(.disabled):hover {
      color: #101010; }
    /* line 305, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-pagination.is-background .el-pager li:hover {
      color: #101010; }
  /* line 313, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-pagination.is-background .btn-next .el-icon,
  .el-pagination.is-background .btn-prev .el-icon {
    font-size: 0.18rem; }
  /* line 318, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-pagination.is-background .btn-prev:disabled {
    color: #444444; }

/* global end */
/* main start */
/* line 326, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-header,
.page-bottom {
  background: #222222; }

/* line 332, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-row.planState {
  margin-top: 0.3rem; }
  /* line 335, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-row.planState .left {
    font-size: 0.16rem; }
    /* line 338, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-row.planState .left .logo {
      width: 1.1rem; }
    /* line 342, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-row.planState .left .text {
      margin: 0.15rem 0; }
  /* line 348, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-row.planState .right li {
    display: block;
    font-size: 0.13rem;
    margin-bottom: 0.1rem; }
  /* line 354, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-row.planState .right img {
    width: 0.12rem;
    margin-right: 0.05rem; }
  /* line 359, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-row.planState .right .el-button {
    min-width: 100%;
    background: #444444;
    color: #fff;
    margin-top: 0.2rem; }
  /* line 367, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-row.planState ul.leftTime {
    display: flex;
    justify-content: space-between;
    width: 80%; }
    /* line 372, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-row.planState ul.leftTime li {
      text-align: center;
      font-size: 0.16rem; }
      /* line 376, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .el-row.planState ul.leftTime li div {
        font-size: 0.32rem;
        width: 0.5rem;
        height: 0.55rem;
        line-height: 0.55rem;
        font-weight: bold;
        border: 1px solid #cccccc;
        background: #f2f2f2;
        margin-bottom: 0.1rem; }
  /* line 389, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .el-row.planState.myplan {
    margin: 0.5rem auto 0;
    display: flex;
    align-items: center;
    padding: 0 0.3rem; }
    /* line 397, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-row.planState.myplan ul.leftTime li div {
      background: #fff; }
    /* line 404, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .el-row.planState.myplan .myPlanForm .el-form-item {
      margin-bottom: 0.1rem; }

/* line 412, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-header {
  position: relative;
  padding: 0 0.7rem; }
  /* line 416, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-header .logo {
    padding: 0.25rem 0;
    display: block; }
    /* line 420, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-header .logo img {
      width: 1.4rem; }
  /* line 425, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-header .el-menu {
    background: none;
    position: absolute;
    top: 0;
    right: 0.7rem; }
    /* line 431, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-header .el-menu.user {
      position: relative;
      top: auto;
      right: auto; }
    /* line 437, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-header .el-menu.el-menu--horizontal {
      border: none; }
    /* line 441, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-header .el-menu .el-menu-item {
      color: #fff;
      height: auto;
      padding: 0.364rem 0;
      line-height: 1;
      margin-left: 0.25rem;
      font-size: 0.16rem; }
      /* line 449, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-header .el-menu .el-menu-item.is-active {
        color: #fff;
        background: none;
        border-bottom: 5px solid #ffdf08; }
      /* line 456, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-header .el-menu .el-menu-item:not(.is-disabled):hover {
        color: #fff;
        background: none; }
      /* line 461, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-header .el-menu .el-menu-item img {
        width: 0.14rem;
        margin-left: 0.05rem; }

/* line 469, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.user-menu {
  background: #222222;
  padding: 0 0.7rem;
  border-top: 1px solid #333333;
  position: relative;
  color: #fff; }
  /* line 476, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .user-menu .el-menu {
    background: none; }
    /* line 479, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .user-menu .el-menu.user {
      position: relative;
      top: auto;
      right: auto; }
    /* line 485, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .user-menu .el-menu.el-menu--horizontal {
      border: none; }
    /* line 489, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .user-menu .el-menu .el-menu-item {
      color: #fff;
      padding: 0;
      height: auto;
      padding: 0.3rem 0 0.3rem;
      line-height: 1;
      margin-right: 0.25rem;
      font-size: 0.14rem; }
      /* line 498, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .user-menu .el-menu .el-menu-item.is-active {
        color: #fff;
        background: none;
        border-bottom: 4px solid #ffdf08; }
      /* line 505, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .user-menu .el-menu .el-menu-item:not(.is-disabled):hover {
        color: #fff;
        background: none; }
      /* line 510, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .user-menu .el-menu .el-menu-item img {
        width: 0.14rem;
        margin-right: 0.1rem; }
  /* line 517, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .user-menu .right {
    position: absolute;
    right: 0.7rem;
    top: 0.3rem; }
    /* line 522, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .user-menu .right div {
      display: inline; }
    /* line 526, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .user-menu .right span {
      margin: 0 0.3rem; }

/* line 534, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-bottom {
  color: #fff;
  padding: 0.5rem 0.7rem; }
  /* line 538, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-bottom .logo {
    width: 0.7rem;
    margin-top: 0.1rem; }
  /* line 543, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-bottom ul {
    font-size: 0.15rem; }
    /* line 546, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-bottom ul.center {
      text-align: center; }
      /* line 549, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-bottom ul.center img {
        width: 0.3rem;
        height: 0.3rem;
        margin: 0.1rem 0.1rem 0 0; }
    /* line 556, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-bottom ul li {
      line-height: 0.3rem; }
      /* line 557, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-bottom ul li.title {
        font-weight: bold; }

/* line 566, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-login,
.page-referral,
.page-myPlan {
  padding: 0.4rem 0.7rem; }
  /* line 571, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-login h2,
  .page-referral h2,
  .page-myPlan h2 {
    margin-bottom: 0.3rem; }

/* line 576, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-home {
  position: relative; }
  /* line 579, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-home .block-top {
    background: #222222;
    color: #fff;
    position: relative;
    padding-top: 0.2rem; }
    /* line 585, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-home .block-top .top-bg {
      width: 100%;
      display: block; }
    /* line 590, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-home .block-top .left {
      position: absolute;
      top: calc(50% - 1rem);
      left: 0.7rem; }
      /* line 595, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-home .block-top .left h2 {
        font-size: 0.36rem;
        margin: 0 0 0.2rem; }
      /* line 601, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-home .block-top .left ul li {
        margin-bottom: 0.1rem;
        font-size: 0.15rem; }
      /* line 606, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-home .block-top .left ul img {
        margin-right: 0.1rem;
        vertical-align: middle;
        width: 0.16rem; }
      /* line 613, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-home .block-top .left .getnow {
        margin-top: 0.2rem; }
    /* line 618, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-home .block-top .right {
      position: absolute;
      right: 0.7rem;
      bottom: 0.5rem;
      width: 2rem;
      height: 2rem; }
      /* line 625, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-home .block-top .right img {
        width: 2rem;
        position: absolute;
        bottom: 0.3rem;
        right: 0; }
      /* line 632, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-home .block-top .right span {
        color: #101010;
        font-size: 0.3rem;
        position: absolute;
        display: block;
        line-height: 2rem;
        vertical-align: middle;
        width: 100%;
        text-align: center; }
  /* line 647, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-home .comments {
    position: absolute;
    bottom: -0.3rem;
    right: 0.35rem;
    width: 0.5rem;
    cursor: pointer; }

/* line 656, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-login {
  font-size: 0.14rem; }
  /* line 659, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-login h2 {
    font-size: 0.24rem;
    margin-bottom: 0.3rem; }
  /* line 664, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-login .dec {
    margin-bottom: 0.3rem;
    font-size: 0.14rem; }
  /* line 669, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-login .loginForm {
    width: 3.5rem; }
    /* line 672, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-login .loginForm .el-button {
      background: #444444;
      color: #fff;
      width: 100%;
      margin-top: 0.2rem; }
  /* line 680, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-login a {
    color: #009cff; }

/* line 685, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.block-content {
  margin: 0 1.4rem; }
  /* line 688, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .block-content .el-row {
    margin-top: 0.6rem; }
    /* line 691, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row h3 {
      font-size: 0.26rem;
      margin: 0 0 0.2rem; }
    /* line 697, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col.pr-50 {
      padding-right: 0.5rem !important; }
    /* line 701, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col.pl-50 {
      padding-left: 0.5rem !important; }
    /* line 706, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col ul li {
      display: inline; }
    /* line 713, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col .face {
      display: block;
      width: 100%; }
    /* line 718, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col .content {
      line-height: 1.4; }
    /* line 722, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col .el-button {
      background: #444444;
      color: #fff;
      min-width: 1.8rem;
      font-size: 0.15rem;
      margin-top: 0.2rem; }
    /* line 730, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .el-row .el-col .surrport {
      margin-top: 0.15rem; }
      /* line 733, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .block-content .el-row .el-col .surrport ul {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.1rem; }
        /* line 738, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .block-content .el-row .el-col .surrport ul li {
          display: inline; }
        /* line 742, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .block-content .el-row .el-col .surrport ul img {
          width: 0.2rem;
          margin-right: 0.05rem; }
  /* line 751, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .block-content.apps {
    background: #f2f2f2;
    margin: 0 0.7rem 1rem;
    padding: 0.2rem 0.7rem;
    border: 1px solid #cccccc; }
  /* line 759, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .block-content .service {
    margin: 0.5rem 0; }
    /* line 762, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .service h3 {
      font-size: 0.26rem;
      margin: 0 0 0.5rem; }
    /* line 767, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .block-content .service ul {
      display: flex;
      justify-content: space-between; }
      /* line 771, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .block-content .service ul li {
        display: inline-block;
        text-align: center;
        font-size: 0.16rem;
        margin-bottom: 0.2rem; }
        /* line 777, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .block-content .service ul li div {
          width: 1.8rem;
          height: 1.8rem;
          display: block;
          margin: 0 auto 0.2rem;
          background: #f2f2f2;
          text-align: center;
          vertical-align: middle;
          line-height: 1.8rem; }
        /* line 788, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .block-content .service ul li img {
          width: 0.5rem;
          vertical-align: middle; }

/* line 798, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.gray-box,
.white-box {
  padding: 0.2rem 0.3rem;
  border: 1px solid #cccccc; }

/* line 804, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.gray-box {
  background: #f2f2f2; }
  /* line 807, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .gray-box h3 {
    text-align: center;
    margin: 0.1rem 0 0.3rem; }

/* line 813, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.white-box {
  background: #fff; }
  /* line 816, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .white-box .rule {
    margin: 0.1rem 0; }
    /* line 819, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .white-box .rule li {
      font-size: 0.16rem;
      margin-bottom: 0.1rem; }
      /* line 823, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .white-box .rule li:last-child {
        margin: 0; }
      /* line 827, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .white-box .rule li span {
        font-size: 0.18rem;
        margin-right: 0.1rem; }

/* line 837, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-referral .top {
  width: 100%;
  margin-bottom: 0.4rem; }

/* line 842, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-referral .linkForm {
  display: inline-block;
  margin-left: 0.2rem;
  width: 50%; }
  /* line 847, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-referral .linkForm .el-input.is-disabled .el-input__inner {
    background: #fff;
    border-color: #cccccc;
    color: #101010; }
  /* line 853, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-referral .linkForm .el-input-group__append {
    background: #fff;
    padding: 0; }
    /* line 857, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-referral .linkForm .el-input-group__append .el-button {
      background: 0;
      margin: 0;
      width: 0.6rem;
      padding: 0;
      color: #101010; }
      /* line 864, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-referral .linkForm .el-input-group__append .el-button img {
        width: 0.22rem;
        cursor: pointer;
        vertical-align: middle; }

/* line 873, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-referral .gray-box {
  margin-bottom: 0.4rem; }

/* line 877, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-referral .block-link {
  position: relative; }
  /* line 880, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-referral .block-link .share {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.3rem; }
    /* line 885, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-referral .block-link .share li {
      display: inline-block;
      margin-left: 0.2rem; }
      /* line 889, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-referral .block-link .share li img {
        width: 0.5rem; }

/* line 900, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-apps .el-tabs .el-tabs__header,
.page-apps .el-tabs .el-tabs__content {
  padding: 0 0.7rem; }

/* line 906, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-apps .el-tabs .el-tabs__nav-wrap::after {
  height: 0; }

/* line 910, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-apps .el-tabs .el-tabs__header {
  background: #222222; }
  /* line 913, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__header .el-tabs__nav {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    /* line 918, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-apps .el-tabs .el-tabs__header .el-tabs__nav .el-tabs__active-bar {
      display: none; }
  /* line 923, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__header .el-tabs__item {
    text-align: center;
    height: auto;
    padding: 0.3rem 0 0.1rem;
    color: #fff;
    font-size: 0.14rem;
    border-bottom: 5px solid #222222; }
    /* line 930, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-apps .el-tabs .el-tabs__header .el-tabs__item img {
      display: block;
      width: 0.2rem;
      margin: 0 auto; }
    /* line 938, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-apps .el-tabs .el-tabs__header .el-tabs__item.is-active {
      border-bottom: 5px solid #ffdf08;
      color: #fff; }

/* line 946, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-apps .el-tabs .el-tabs__content .el-row {
  padding: 0.5rem 0.7rem 0.7rem;
  display: flex;
  align-items: center; }
  /* line 953, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__content .el-row .el-col.left .tit {
    font-weight: bold;
    font-size: 0.28rem; }
  /* line 958, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__content .el-row .el-col.left .dec {
    margin: 0.2rem 0 0.4rem; }
  /* line 963, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__content .el-row .el-col.left .btns a {
    display: inline-block;
    padding: 12px 20px;
    background: #444444;
    color: #fff;
    border-radius: 4px;
    min-width: 1.8rem;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.3rem; }
    /* line 974, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-apps .el-tabs .el-tabs__content .el-row .el-col.left .btns a.btn {
      padding: 0; }
  /* line 979, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__content .el-row .el-col.left .btns img {
    display: block;
    width: 1.8rem; }
  /* line 987, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-apps .el-tabs .el-tabs__content .el-row .el-col.right img {
    width: 100%; }

/* line 998, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-myPlan .block-content {
  margin: 0; }
  /* line 1002, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-myPlan .block-content .service ul {
    margin: 0 0.7rem; }
  /* line 1008, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-myPlan .block-content .gray-box.plan {
    padding: 0.2rem 0;
    margin-bottom: 0.4rem; }
    /* line 1012, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-myPlan .block-content .gray-box.plan .plan-head {
      padding: 0.1rem 0.3rem 0.3rem;
      border-bottom: 1px solid #cccccc;
      position: relative; }
      /* line 1019, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-myPlan .block-content .gray-box.plan .plan-head div {
        display: inline-block;
        margin: 0 0.2rem; }
      /* line 1024, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-myPlan .block-content .gray-box.plan .plan-head .status {
        background: #8acf95;
        padding: 0.05rem 0.2rem;
        border-radius: 0.2rem;
        color: #009933;
        font-weight: bold; }
      /* line 1032, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-myPlan .block-content .gray-box.plan .plan-head .el-button {
        position: absolute;
        right: 0.3rem;
        top: 0;
        font-weight: bold;
        background: #ffdf08;
        color: #101010;
        min-width: 1.2rem;
        font-size: 0.16rem; }
    /* line 1044, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-myPlan .block-content .gray-box.plan .notify {
      color: #d24b4b;
      text-align: center;
      font-size: 0.14rem;
      margin: 0.2rem auto; }
  /* line 1052, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-myPlan .block-content .gray-box.plan-detail {
    border-radius: 5px; }
    /* line 1055, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-myPlan .block-content .gray-box.plan-detail .tit {
      margin-top: 0.1rem; }

/* line 1064, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
ul.four {
  display: flex;
  justify-content: space-between;
  font-size: 0.14rem;
  margin: 0.2rem 0; }
  /* line 1071, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  ul.four li img {
    width: 0.14rem;
    margin-right: 0.08rem;
    vertical-align: middle; }
  /* line 1078, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  ul.four .surport {
    display: inline-block;
    margin-left: 0.1rem; }
    /* line 1082, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    ul.four .surport li {
      display: inline-block; }
      /* line 1085, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      ul.four .surport li img {
        width: 0.12rem;
        margin-right: 0.05rem; }

/* line 1093, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.page-pricing {
  padding: 0.7rem 0.7rem 0.2rem; }
  /* line 1096, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing a {
    color: #009cff; }
  /* line 1100, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing section {
    margin-bottom: 0.6rem; }
  /* line 1104, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing ul.four {
    margin-bottom: 0.5rem; }
  /* line 1108, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing .tit {
    font-size: 0.2rem;
    font-weight: bold; }
    /* line 1112, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .tit span {
      background: #101010;
      color: #fff;
      font-weight: normal;
      width: 0.22rem;
      height: 0.22rem;
      line-height: 0.22rem;
      font-size: 0.16rem;
      text-align: center;
      vertical-align: top;
      border-radius: 50%;
      margin-right: 0.1rem;
      display: inline-block; }
  /* line 1128, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing .block-price {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.2rem; }
    /* line 1133, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-price .my-plan {
      text-align: center;
      height: 0.5rem;
      line-height: 0.5rem; }
      /* line 1138, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .my-plan img {
        vertical-align: middle;
        height: 0.16rem;
        line-height: 0.18rem;
        margin-right: 0.1rem; }
    /* line 1146, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-price .price-box {
      border: 6px solid #cccccc;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      cursor: pointer; }
      /* line 1153, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .head {
        color: #fff;
        background: #cccccc;
        font-weight: bold;
        font-size: 0.22rem;
        padding: 0.15rem 0;
        position: relative; }
        /* line 1161, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-price .price-box .head .zhekou {
          position: absolute;
          right: 0.15rem;
          top: -6px;
          font-size: 0.12rem; }
          /* line 1167, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
          .page-pricing .block-price .price-box .head .zhekou img {
            width: 0.4rem; }
          /* line 1171, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
          .page-pricing .block-price .price-box .head .zhekou span {
            position: absolute;
            top: 0.05rem;
            left: 0.05rem; }
      /* line 1179, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .subTit {
        background: #ffc208;
        color: #101010;
        padding: 0.1rem 0;
        font-size: 0.16rem; }
      /* line 1186, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .body {
        padding: 0 0 0.4rem; }
      /* line 1190, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .price-old {
        color: #ff5b5b;
        font-weight: bold;
        margin: 0.4rem auto 0.2rem;
        text-decoration: line-through; }
      /* line 1197, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .price-now {
        font-size: 0.22rem; }
        /* line 1200, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-price .price-box .price-now b {
          font-size: 0.36rem;
          font-weight: bold; }
      /* line 1206, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .time {
        background: #cccccc;
        padding: 0.1rem 0;
        font-size: 0.14rem;
        min-width: 1.4rem;
        display: inline-block;
        margin: 0.3rem auto 0.2rem;
        border-radius: 0.2rem; }
      /* line 1216, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box .dec {
        font-size: 0.14rem; }
        /* line 1219, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-price .price-box .dec span {
          color: #ff5b5b;
          text-decoration: line-through; }
      /* line 1225, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-price .price-box.green {
        border-color: #28ae5b; }
        /* line 1228, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-price .price-box.green .head {
          background: #28ae5b; }
  /* line 1235, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing .block-reg {
    padding-left: 0.32rem; }
    /* line 1238, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-reg .login {
      margin: 0.1rem 0 0.2rem;
      font-size: 0.14rem; }
    /* line 1243, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-reg .regForm {
      display: flex;
      justify-content: space-between; }
      /* line 1247, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-reg .regForm .el-form-item {
        width: 100%;
        margin: 0 0.2rem 0 0; }
  /* line 1255, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing .block-payment {
    padding-left: 0.32rem; }
    /* line 1258, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .price-free {
      font-weight: bold;
      margin-top: 0.3rem; }
      /* line 1262, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .price-free span {
        font-size: 0.3rem; }
    /* line 1267, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-type {
      margin: 0.3rem 0 0.2rem; }
    /* line 1271, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .imgs {
      text-align: right;
      margin-top: 0.1rem; }
      /* line 1275, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .imgs img {
        height: 0.14rem;
        margin-left: 0.1rem; }
    /* line 1281, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .el-radio.is-bordered {
      height: auto;
      width: 4rem; }
      /* line 1285, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .el-radio.is-bordered .el-radio__label {
        font-weight: bold;
        color: #101010;
        font-size: 0.16rem; }
      /* line 1292, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .el-radio.is-bordered.is-checked .el-radio__label {
        color: #009cff; }
    /* line 1301, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .card-info,
    .page-pricing .block-payment .pay-info .pay-tips {
      background: #f2f2f2;
      border: 1px solid #cccccc;
      border-radius: 5px; }
    /* line 1308, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .el-row {
      margin: 0 !important;
      display: flex;
      justify-content: space-between; }
    /* line 1314, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .pay-tips {
      padding: 0.2rem; }
      /* line 1317, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .pay-info .pay-tips li {
        display: block;
        font-size: 0.13rem;
        margin-bottom: 0.1rem; }
        /* line 1322, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-payment .pay-info .pay-tips li.head {
          font-size: 0.16rem;
          margin-bottom: 0.2rem; }
      /* line 1329, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .pay-info .pay-tips img {
        width: 0.12rem;
        margin-right: 0.05rem; }
    /* line 1335, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .card-info {
      padding: 0.2rem 0 !important;
      background: #f2f2f2;
      margin-right: 0.3rem; }
      /* line 1339, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .pay-info .card-info .head {
        position: relative;
        padding: 0 0.2rem 0.2rem;
        border-bottom: 1px solid #cccccc;
        font-weight: bold; }
        /* line 1345, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-payment .pay-info .card-info .head .imgs {
          position: absolute;
          top: 0;
          right: 0.2rem;
          margin-top: 0; }
    /* line 1354, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .order-detail {
      margin: 0.4rem 0.3rem 0.2rem; }
      /* line 1357, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .pay-info .order-detail li {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 0.2rem; }
        /* line 1363, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-payment .pay-info .order-detail li:last-child {
          font-weight: bold;
          font-size: 0.3rem; }
    /* line 1371, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .cardForm {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      margin: 0.3rem;
      padding: 0.3rem 0; }
      /* line 1379, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .pay-info .cardForm .el-form-item {
        margin-bottom: 0.2rem;
        width: 100%; }
        /* line 1383, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-payment .pay-info .cardForm .el-form-item label {
          font-weight: normal; }
          /* line 1387, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
          .page-pricing .block-payment .pay-info .cardForm .el-form-item label.cw img {
            width: 0.16rem;
            margin-left: 0.05rem;
            vertical-align: middle;
            cursor: pointer;
            display: inline-block; }
        /* line 1397, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
        .page-pricing .block-payment .pay-info .cardForm .el-form-item.rem {
          margin-bottom: 0; }
          /* line 1400, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
          .page-pricing .block-payment .pay-info .cardForm .el-form-item.rem label {
            font-weight: bold; }
    /* line 1407, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .pay-info .autoPay {
      padding: 0 0.3rem; }
      /* line 1410, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
      .page-pricing .block-payment .pay-info .autoPay .content {
        margin: 0.2rem auto;
        font-size: 0.14rem;
        line-height: 1.2;
        padding-left: 0.24rem; }
    /* line 1419, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .el-button.join {
      width: 1.8rem;
      margin: 0.3rem 0; }
    /* line 1424, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-pricing .block-payment .rules {
      font-size: 0.14rem; }
  /* line 1431, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-pricing .el-checkbox,
  .page-pricing .el-radio {
    font-size: 0.16rem;
    font-weight: bold; }

/* line 1439, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
.el-checkbox__input.is-checked + .el-checkbox__label,
.el-radio__input.is-checked + .el-radio__label {
  color: #101010; }

/* main end */
@media screen and (max-width: 800px) {
  /* line 1459, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-bottom ul {
    text-align: center; }
  /* line 1465, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .page-home .block-top .right {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.1rem; }
    /* line 1470, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-home .block-top .right img {
      width: 1.5rem; }
    /* line 1474, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .page-home .block-top .right span {
      font-size: 0.24rem;
      line-height: 1.3rem; }
  /* line 1482, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .block-content {
    margin: 0 0.7rem; }
  /* line 1487, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
  .service ul {
    flex-flow: wrap; }
    /* line 1490, /Users/zhaolinxu/GitHub/evermobilesoft/InfiVPN/src/styles/custom.scss */
    .service ul li {
      width: 50%; } }

/*# sourceMappingURL=custom.css.map */